---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';

const metadata = {
  title: 'Página de Inicio de Aplicación Móvil',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        { text: 'Servicios', href: '#' },
        { text: 'Características', href: '#' },
        { text: 'Acerca de', href: '#' },
      ]}
      actions={[
        {
          text: 'Descargar',
          href: '#download',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Widget Hero2 ******************* -->

  <Hero2
    tagline="Demostración Web de Aplicación Móvil"
    image={{
      src: 'https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Imagen Hero de AstroWind',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white">Aplicación AstroWind</span>: <br /> sitios web profesionales <span
        class="hidden xl:inline">hechos fácilmente</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Desbloquea una creatividad ilimitada al alcance de tu mano: tu puerta de entrada al diseño innovador.
      </span>
      Descarga ahora y emprende un viaje para elevar tus proyectos como nunca antes.
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="Imagen de App Store" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Imagen de Google Play" width={200} />
      </Button>
    </div>
  </Hero2>

  <!-- Widget Features3 ************** -->

  <Features3
    id="features"
    title="¿Cómo usar nuestra aplicación?"
    subtitle="¿Cansado de pasar horas creando documentos desde cero? Nuestra aplicación ofrece una solución innovadora. Con una amplia gama de plantillas diseñadas profesionalmente, ahora puedes crear documentos impresionantes en minutos. Explora nuestras plantillas ahora y experimenta la diferencia."
    tagline="Guía paso a paso"
    columns={2}
    items={[
      {
        title: 'Descarga e instala la aplicación',
        description: `Comienza tu viaje descargando nuestra aplicación fácil de usar desde la tienda de aplicaciones de tu dispositivo o nuestro sitio web oficial.`,
        icon: 'tabler:square-number-1',
      },
      {
        title: 'Regístrate',
        description:
          'Crea tu cuenta proporcionando la información necesaria, lo que te permitirá acceder a nuestra gama completa de características.',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'Explora plantillas',
        description: 'Explora nuestra diversa colección de plantillas de sitios web, categorizadas para una fácil navegación.',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'Previsualiza y selecciona una plantilla',
        description: `Visualiza el potencial de cada plantilla a través de vistas previas, luego elige la que mejor se alinee con las necesidades de tu proyecto.`,
        icon: 'tabler:square-number-4',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1521517407911-565264e7d82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80',
      alt: 'Imagen Colorida',
    }}
  />

  <!-- Widget Content **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Interfaz fácil de usar',
        description:
          'Una interfaz intuitiva y fácil de navegar que permite a los usuarios explorar y encontrar rápidamente las plantillas que necesitan.',
        icon: 'tabler:wand',
      },
      {
        title: 'Opciones de personalización',
        description:
          'Incluye herramientas básicas de personalización que permiten a los usuarios modificar texto, colores, imágenes y otros elementos dentro de las plantillas.',
        icon: 'tabler:settings',
      },
      {
        title: 'Componentes listos para usar',
        description:
          'Mejora tus diseños con elementos listos para usar como gráficos, iconos y diseños, ahorrándote tiempo y aumentando el atractivo visual.',
        icon: 'tabler:template',
      },
      {
        title: 'Modo de vista previa',
        description: 'Proporciona una vista previa de cada plantilla, permitiendo a los usuarios ver cómo se ve antes de realizar una compra.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'Imagen Colorida',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Características Principales</h3>
    </Fragment>
  </Content>

  <!-- Widget Content **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Acceso sin conexión',
        description: 'Ofrece la opción para que los usuarios descarguen las plantillas compradas para usarlas sin conexión.',
        icon: 'tabler:wifi-off',
      },
      {
        title: 'Almacenamiento seguro en la nube',
        description:
          'Proporciona almacenamiento en la nube para las plantillas compradas, asegurando que los usuarios puedan acceder y respaldar sus plantillas desde cualquier lugar de forma segura.',
        icon: 'tabler:file-download',
      },
      {
        title: 'Actualizaciones regulares',
        description: 'Añade continuamente nuevas plantillas y características para mantener la aplicación fresca y atractiva para los usuarios.',
        icon: 'tabler:refresh',
      },
      {
        title: 'Lista de deseos',
        description: `Permite a los usuarios crear una lista de deseos de las plantillas que les interesan, facilitándoles volver a visitarlas y potencialmente comprarlas más tarde.`,
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Imagen Vintage',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Otras características</h3>
    </Fragment>
  </Content>

  <!-- Widget Stats ****************** -->

  <Stats
    title="Estadísticas de nuestra aplicación"
    stats={[
      { amount: '20K', icon: 'tabler:download' },
      { amount: '18.5K', icon: 'tabler:users' },
      { amount: '4.7', icon: 'tabler:user-star' },
    ]}
  />

  <!-- Widget Testimonials *********** -->

  <Testimonials
    title="¿Qué dicen nuestros usuarios?"
    testimonials={[
      {
        testimonial: `Ha hecho que explorar y descargar plantillas de sitios web sea muy fácil. La interfaz es intuitiva y no tuve problemas para encontrar la plantilla perfecta para mi proyecto. Es una aplicación que realmente empodera a los usuarios.`,
        name: 'Cary Kennedy',
        job: 'Director de cine',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Imagen de Cary Kennedy',
        },
      },
      {
        testimonial: `El proceso de descarga fluido de la aplicación y su diseño intuitivo han hecho que seleccionar plantillas sea una experiencia agradable. Poder previsualizar y experimentar con diferentes diseños antes de comprometerme me ha ahorrado tiempo y me ha asegurado obtener el aspecto perfecto para mi sitio web.`,
        name: 'Josh Wilkinson',
        job: 'Gerente de Producto',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Imagen de Josh Wilkinson',
        },
      },
      {
        testimonial:
          'Pude descargar y usar una plantilla de sitio web profesional en cuestión de minutos. El proceso paso a paso y la interfaz fácil de usar me facilitaron la creación de un sitio web que parece diseñado por un profesional.',
        name: 'Sidney Hansen',
        job: 'Decorador(a)',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Imagen de Sidney Hansen',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Leer más testimonios',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- Widget FAQs ******************* -->

  <FAQs
    title="¿Aún tienes algunas dudas?"
    items={[
      {
        title: '¿Qué hace esta aplicación?',
        description:
          'Esta aplicación proporciona una plataforma para que puedas navegar, comprar, descargar y usar fácilmente una amplia gama de plantillas de sitios web para tus proyectos.',
      },
      {
        title: '¿Cómo puede esta aplicación resolver mi problema?',
        description:
          'Esta aplicación simplifica el proceso de encontrar e implementar diseños de sitios web profesionales, ahorrándote tiempo y esfuerzo en la creación de sitios web visualmente atractivos y funcionales.',
      },
      {
        title: '¿Está disponible para mi dispositivo?',
        description: `Nuestra aplicación está diseñada para ser compatible con varios dispositivos y plataformas, asegurando la accesibilidad ya sea que estés usando un teléfono inteligente, tableta o computadora.`,
      },
      {
        title: '¿Qué hace que esta aplicación sea diferente de otras?',
        description:
          'Nuestra aplicación se destaca por su interfaz fácil de usar, su extensa colección de plantillas y la integración fluida del proceso de compra y descarga, lo que la hace altamente eficiente.',
      },
      {
        title: '¿Hay algún costo involucrado?',
        description:
          'Si bien la aplicación en sí puede ser de descarga gratuita, puede haber costos asociados con la compra de plantillas específicas según tus preferencias y requisitos del proyecto.',
      },
    ]}
  />

  <!-- Widget CallToAction *********** -->

  <CallToAction
    id="download"
    title="¡Descarga nuestra aplicación ahora!"
    subtitle="Accede a una variedad de plantillas impresionantes, simplifica tu proceso creativo y eleva tu presencia en línea."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="Imagen de App Store" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Imagen de Google Play" width={200} />
      </Button>
    </div>
  </CallToAction>
</Layout>
